# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environment files
.env
*.env

# Virtual environments
.venv/
venv/
env/
ENV/

# Django files
staticfiles/
media/
*.sqlite3
db.sqlite3

db_details.txt

# Editor directories and files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db
